@media {
    
    .lead{
        width:100;
    }
    
    .topper{
        background-image:url(Person%20writing.png);
        background-size:cover;
        
    }
    
    body{
        background-color:#284b63;
    }
        
    h1 {
        padding: 5px,5px,5px,5px; 
        color: white;
        font-family: Georgia serif;
    }
    
    h3 {
        padding: 5px, 5px, 5px, 5px;
        font-family: Georgia serif;
        color:white;
    }
    
    h5 {
        padding: 5px, 5px, 5px, 5px;
        font-family: Georgia serif;
        color: #bdbbb0;
    }
    
    p {
        padding: 5px, 5px, 5px, 5px;
        font-family: Georgia serif;
        color:white;
    }
    
    #footer{
        color:white;
        font-family:Georgia serif;
    }
}

@media (min-width: 576px)
        {   
}

@media (min-width: 992px)
        {   
}

@media (min-width: 1200px)
        {   
}
