/*small*/
@media  {
    h2 {
        font-size: 30px;
        color:grey
    }

div {
    color:grey
}

h1 {
    color:grey
}

h2 {
    color:grey   
}

h3 {
    color: grey
}

h4{
    color:grey
}

h5{
    color:grey  
}

p{
    color:grey
}

li{
    color:grey
}

#topper {
    
}

#footer {
        
}

#headshot {
    width:100%;
    margin: 0px 0px 0px 0px;
    border: 5px solid white;
    border-radius: 500px
}
    
#button {
    border-color: solid white;
    background color: lightpink
        
    }

width {
    
}
    
}
@media (min-width:576px)   {
    
    #headshot {
    margin: 10px 0px 0px 10px;        
}
    
}
@media (min-width:992px) {
     #headshot {
     margin: 10px 0px 0px 10px;
}
    
    
}